*.dll
.vs/*
**/bin/*
**/obj/*
*/node_modules/*
*/.vs/*
*.vsix
*.diagsession
*.bin
*.prg
**/.vscode/*
*.cache
*.suo
**/.vs/*
**/Compare/*
*.prg
test.*
asmcompare.asm
output.png
.ionide/*
Debugger/**/*
.fake
.ionide
**/Debug/*